.slideshow-container {
    text-align: center;
  }
  
  .slideshow {
    position: relative;
    width: fit-content;
    margin: auto;
  }
  
  .slideshow img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .slideshow button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(167, 167, 167);
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 40%;
  }
  
  .slideshow .prev {
    left: 10px;
  }
  
  .slideshow .next {
    right: 10px;
  }
  
  .slideshow button:hover {
    color: #0143bd;
  }
  
  /* SVG Section */
  .svg-section {
    margin: 30px auto;
    text-align: center;
  }
  
  .svg-section h2 {
    margin-bottom: 20px;
  }
  
  #colorSvgContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  #colorSvgContainer svg {
    width: 400px;  
    height: auto;  
  }
  
  .color-info > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
    color: #0143bd;
  }

